

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item-heading {
    flex: 0 0 40%;
}

.flex-item-nav {
   flex: 0 0 15%;
}

.flex-container-content {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 0 0 50%;
}

.flex-item-form {
   flex: 0 0 30%;
}

.flex-item-form-image {
   flex: 0 0 70%;
}

.flex-item-footer {
    flex: 0 0 50%;
}



section * {
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
}





figure {
    margin: 0;
}





select {
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(200,180,200);
    margin-bottom: 40px;
}



fieldset {
    border-color: rgb(180,180,180);
    padding: 20px 20px 5px 10px;
}



.main-image {
    border-radius: 10px;
}



.image-example {
    opacity: 0.3;
}

.image {
    width: 100%;
    height: 245px;
}

.subselect {
    display: none;
}

.default {
   
    background-color: grey;
}