body {
    background-color: rgb(237, 240, 245);
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 0 0 50%;
}

.flex-item-heading {
    flex: 0 0 40%;
   
}

.flex-item-nav {
   flex: 0 0 15%;
}

.flex-item-form {
   flex: 0 0 20%;
}

.flex-item-form-image {
   flex: 0 0 70%;
}

header {
    background-color: rgb(189, 170, 189);
    width: 100%;
    border-radius: 10px;
    padding: 0;
    height: 80px;
}

section * {
    padding: 5px;
    box-sizing: border-box;
}

img {
    width: 100%;
}

footer {
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
}

footer p {
    text-align: center;
    opacity: 0.6;
}

figure {
    margin: 0;
}





select {
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(200,180,200);
    margin-bottom: 40px;
}


legend {
    color: rgb(180,180,180);
}

fieldset {
    border-color: rgb(180,180,180);
    padding: 20px 20px 5px 10px;
}


.menu {
    height: 100%;
    text-align: center;
    line-height: 80px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

.menu:hover {
    background-color: grey;
}

.selected {
    background-color: rgb(161, 141, 161);
    height: 100%;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
}

.text-center {
    text-align: center;
}

.main-image {
    border-radius: 10px;
}

.text-justify {
    text-align: justify;
}

.image-example {
    opacity: 0.3;
}

.image {
    width: 100%;
    height: 245px;
}

.subselect {
    display: none;
}

.default {
   
    background-color: grey;
}