body {
    background-color: rgb(237,240,245);
    width: 900px;
    margin: 5px;
    box-sizing: border-box;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0;
   
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: rgb(189,170,189);
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding:0;
    height: 80px;
}

.menu {
    height: 100%;
    text-align: center;
    line-height: 80px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

.menu:hover {background-color: grey;
}

.selected {
    background-color: rgb(161,141,161);
    height: 100%;
    text-align: center;
    line-height: 80px;
}

section{
    padding: 5px;
    margin-right: 5px;
}

#progress * {margin-bottom: 0;
}

.progress-bar-background {
    position: relative;
    width: 100%;
    background-color: rgb(212,200,212);
    border-radius: 20px;
    height: 17px;
}

.progress-bar-color {
    position: absolute;
    background-color: rgb(161,141,161);
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-text {
    position: relative;
    bottom: 18px;
    text-align: center;
    color: white;
}

.text-center {
    text-align: justify;
}

img {
    width: 100%;
}

.contact {
    margin-left: 0;
}

.image {width: 10%;
}

.image-call-me {
    padding-top: 20px;
}

.image2 {
    padding: 5px;
    width: 290px;
    height: auto;
}

article {
    padding: 0 10px 0 10px;
}

ul li {
    display: inline;
}

ul { padding: 0;
    
}



legend {
    color: rgb(180,180,180);
}

.pictogram {
    height: 40;
    width: 50;
}

aside {
    margin: 0;
}

footer {background-color: rgb(225,225,225);
border-radius: 10px;
}

footer p {
    text-align: center;
    opacity: 0.6;
}

























