body {
    background-color: rgb(237,240,245);
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}



.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item-heading {
    flex: 0 0 40%;
   
}

.flex-item-nav {
   flex: 0 0 15%;
}

.flex-item-section {
    flex: 0 0 32%;
}


.flex-item-contact {
    flex: 0 0 70%;
}

.flex-item-contact-photo {
    flex: 0 0 35%;
    
}

.flex-item-footer {
    flex: 0 0 50%;
}

header {
    background-color: rgb(189,170,189);
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding:0;
    height: 80px;
}


section{
    padding: 5px;
    margin-right: 5px;
}

img {
    width: 100%;
}

article {
    padding: 0 10px 0 10px;
}

ul li {
    display: inline;
}

ul { padding: 0;
    
}

legend {
    color: rgb(180,180,180);
}



footer {
    background-color: rgb(225,225,225);
    border-radius: 10px;
}

footer p {
    text-align: center;
    opacity: 0.6;
}



.menu {
    height: 100%;
    text-align: center;
    line-height: 80px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
}

.menu:hover {background-color: grey;
}

.selected {
    background-color: rgb(161,141,161);
    height: 100%;
    text-align: center;
    line-height: 80px;
    border-radius: 10px;
}

#progress * {
    margin-bottom: 0;
}

.progress-bar-background {
    position: relative;
    width: 100%;
    background-color: rgb(212,200,212);
    border-radius: 20px;
    height: 17px;
}

.progress-bar-color {
    position: absolute;
    background-color: rgb(161,141,161);
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-text {
    position: relative;
    bottom: 18px;
    text-align: center;
    color: white;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}


.image {width: 10%;
}

.image-call-me {
    padding-top: 20px;
}

.image-aside {
    padding: 3px;
    width: 100%;

}

.form {
    width: 100%;
}





















