.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item-heading {
    flex: 0 0 40%;
}

.flex-item-nav {
   flex: 0 0 15%;
}

.flex-container-content {
    display: flex;
    justify-content: space-between;
}

.flex-item-section {
    flex: 0 0 32%;
}

.flex-item-contact {
    flex: 0 0 70%;
}

.flex-item-contact-photo {
    flex: 0 0 35%;
    
}

.flex-item-footer {
    flex: 0 0 50%;
}

section{
    padding: 5px 0 5px 5px;
    margin-right: 5px;
}

article {
    padding: 0 10px 0 10px;
}

ul li {
    display: inline;
}

ul { padding: 0;
    
}

#progress * {
    margin-bottom: 0;
}

.progress-bar-background {
    position: relative;
    width: 100%;
    background-color: rgb(212,200,212);
    border-radius: 20px;
    height: 17px;
}

.progress-bar-color {
    position: absolute;
    background-color: rgb(161,141,161);
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-text {
    position: relative;
    bottom: 16px;
    text-align: center;
    color: white;
}

.image {width: 10%;
}

.image-call-me {
    padding-top: 20px;
}

.image-aside {
    padding: 3px;
    width: 100%;

}

.form {
    width: 100%;
}

#heading {
    display: none;
}

















