.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flex-item-heading {
    display: none;
}

.flex-item-nav {
   -webkit-box-flex: 0;
       -ms-flex: 0 0 25%;
           flex: 0 0 25%;
}

.flex-container-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.flex-item-section {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
}

.flex-item-contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
}

.flex-item-contact-photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    
}

.flex-item-footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

section{
    padding: 5px 0 5px 5px;
    margin-right: 5px;
}

article {
    padding: 0 10px 0 10px;
}

ul li {
    display: inline;
}

ul { padding: 0;
    
}

#progress * {
    margin-bottom: 0;
}

.progress-bar-background {
    position: relative;
    width: 100%;
    background-color: rgb(212,200,212);
    border-radius: 20px;
    height: 17px;
}

.progress-bar-color {
    position: absolute;
    background-color: rgb(161,141,161);
    width: 50%;
    height: 100%;
    border-radius: 20px;
}

.progress-bar-text {
    position: relative;
    bottom: 16px;
    text-align: center;
    color: white;
}

.image {width: 10%;
}

.image-call-me {
    padding-top: 20px;
}

.image-aside {
    display: none;
}

.form {
    width: 100%;
}

