body {
    background-color: rgb(237, 240, 245);
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    background-color: rgb(208, 225, 237);
    position: relative;
    width: 100%;
    position: relative;
    padding: 0;
    height: 80px;
}

footer {
    background-color: rgb(208, 225, 237);
}

footer p {
    text-align: center;
    opacity: 0.6;
}

img {
    width: 100%;
}

legend {
    color: rgb(180, 180, 180);
}

.full-content {
    background-color: white;
}

.menu {
    height: 100%;
    text-align: center;
    line-height: 80px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.menu:hover {
    background-color: rgb(170, 210, 237);
}

.selected {
    background-color: rgb(130, 188, 232);
    height: 100%;
    text-align: center;
    line-height: 80px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    
    .flex-item-heading {
        font-size: 22px;
        align-self: center;
    }
    
    .flex-item-nav {
        font-size: 16px;
        font-weight: bold;
    }
    
    p, img {
    margin-right: 10px;
    }
    
}
